---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    The most up-to-date and complete list of publications is available on my
    <a href="{{site.author.googlescholar}}">Google Scholar profile</a>.
  </div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<h2>Selected Publications</h2>

<ul>
  <li>
    [2] L. Borgatti, D. Donati, <strong>L. Hu</strong>, G. Landi, & F. Zama (2026).
    Estimating landslide thickness through domain-based regularization.
    <em>Journal of Computational and Applied Mathematics</em>, 476, 117073.
    <a href="https://www.sciencedirect.com/science/article/pii/S0377042725005874">DOI</a>
  </li>
</ul>

<ul>
  <li>
    [1] L. Borgatti, D. Donati, <strong>L. Hu</strong>, G. Landi, & F. Zama (2024).
    A Regularization Method for Landslide Thickness Estimation.
    <em>Journal of Imaging</em>, 10(12), 314.
    <a href="https://www.mdpi.com/2313-433X/10/12/314">DOI</a>
  </li>
</ul>

<h2>Other Publications</h2>

<ul>
  <li>
    G. V. Spinelli, D. Evangelista, <strong>L. Hu</strong>, & F. Zama (2024).
    Neural network-based inversion of NMR dispersion profiles for enhanced analysis of food systems.
    <em>Neural Computing and Applications</em>, 37, 3957-3972.
    <a href="https://link.springer.com/article/10.1007/s00521-024-10859-y">DOI</a>
  </li>
</ul>

<ul>
  <li>
    G. Titti, <strong>L. Hu</strong>, P. Festi, L. Elia, L. Borgatti, & L. Lombardo (2025).
    An updated version of the SZ-plugin: From space to space–time data-driven modeling in QGIS.
    <em>International Journal of Applied Earth Observation and Geoinformation</em>, 142, 104679.
    <a href="https://www.sciencedirect.com/science/article/pii/S1569843225003267">DOI</a>
  </li>
</ul>