---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>Conference Talks</h2>

<ul>
  <li>
    Geoburst talk, <em>
    <a href="https://www.agu.org/Fall-Meeting" target="_blank" rel="noopener">
    AGU Fall Meeting 2025
    </a></em>,
    New Orleans, LA, USA, December 15-19, 2025.
  </li>
</ul> 

<ul>
  <li>
    Speaker, <em>
    <a href="https://en.geoscienze.org/765/bari-2024.html" target="_blank" rel="noopener">
    SGI–SIMP 2024 Congress: Geology for a Sustainable Management of our Planet
    </a></em>,
    Bari, Italy, September 3–5, 2024.
  </li>
</ul>

<ul>
  <li>
      Speaker, <em>Advanced Numerical Analysis for Imaging: from theory to industry (AdNumI)</em>,
      Naples, Italy, June 19–21, 2024.
  </li>
</ul>

<h2>Posters</h2>

<ul>
  <li>
    Poster presentation, <em>
    <a href="https://www.agu.org/Fall-Meeting" target="_blank" rel="noopener">
    AGU Fall Meeting 2025
    </a></em>,
    New Orleans, LA, USA, December 15-19, 2025.
  </li>
</ul>

<ul>
  <li>
    Poster presentation, <em>
    <a href="https://ima.org.uk/23503/4th-ima-conference-on-inverse-problems-from-theory-to-application/" 
    target="_blank" rel="noopener">
    4th IMA Conference on Inverse Problems from Theory to Application
    </a></em>,
    Bath, UK, September 11–13, 2024.
  </li>
</ul>