---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<ul>
  <li>
    <strong>Graduate Mentor</strong>, <em>Directed reading program in discrete inverse problems</em><br>
    Department of Mathematics, Applied Mathematics and Statistics, Case Western Reserve University — <strong>Fall 2025</strong><br>
  </li>
</ul>

<ul>
  <li>
    <strong>Teaching Assistant</strong>, <em>Numerical differential equations</em><br> (Graduate course)
    Department of Mathematics, University of Bologna, Italy — <strong>Spring 2025</strong><br>
  </li>
</ul>

<ul>
  <li>
    <strong>Teaching Assistant</strong>, <em>Numerical Methods</em><br> (Graduate course)
    Department of Mathematics, University of Bologna, Italy — <strong>Fall 2024</strong><br>
  </li>
</ul>

<ul>
  <li>
    <strong>Teaching Assistant</strong>, <em>Numerical differential equations</em><br> (Graduate course)
    Department of Mathematics, University of Bologna, Italy — <strong>Spring 2024</strong><br>
  </li>
</ul>

<ul>
  <li>
    <strong>Teaching Assistant</strong>, <em>Numerical Methods</em><br> (Graduate course)
    Department of Mathematics, University of Bologna, Italy — <strong>Fall 2023</strong><br>
  </li>
</ul>